body{
    margin: 0px;
    padding: 0px;
}
.a1{
    background-color:antiquewhite;
    width: 150px;
    height: 150px;
    margin-left: 80px;
    margin-top: 50px;
    text-align: center;
}
.a2{
    margin-left: 300px;
    margin-top: 0px;
}
h2{
    background-color: rgb(247, 86, 86);
    
}
